a:link {
 text-decoration: none;
}
a:visited {
 text-decoration: none;
}
a:hover {
 text-decoration: none;
}
a:active {
 text-decoration: none;
}
.unit-100 {
    width: 100%;
}
.language {
    text-align: center;
    margin: 0 auto;
    position: relative;
	padding-top: 10px;
}	
.btn2 {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    color: #5cb85c;
    margin: 5px;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
    background: #eeeded;
    padding: 20px 20px;
    height: 2.3em;
}
.btn2:link {
    color: #FFFFFF;
    background: #5cb85c;
}

.btn2:visited {
    color: #FFFFFF;
    background: #5cb85c;
}

.btn2:hover {
    color: #5cb85c;
    background: #FFFFFF;
}

.btn2:active {
    color: #FFFFFF;
    background: #5cb85c;
}
.btn-outline2 {
    background: none;
    border: 3px solid #5cb85c;
    margin-right: 14px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}
.tit {
    margin: 0 auto;
    padding: 4px;
		font-size: 24px;
    text-align: center;
}
ul {
    margin: 0;
    padding: 10px 20px;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;

}
ul li {
    padding: 4px 0;
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.coin {
    position: fixed;
    top: -9999px;
    left: -9999px;
}
#img1{border-top-left-radius: 2%; border-top-right-radius: 2%; vertical-align: middle; display: inline; width: 100%; visibility: visible !important;}
	.f{height: 40px;background-color: rgb(92,184,92);color: white;font-size: 20px;text-align: center;transition: 1s;padding-top: 5px;}
			a{text-decoration: none;}
			.f:hover{background-color: rgb(12,121,177);}
				@media screen and (max-width: 900px) {
			iframe{
				height:300px;
			}
